/* QGroupBox Stylisé */
QGroupBox {
    background-color: #2b2b2b;
    color: white;
    border: 2px solid #555;
    border-radius: 5px;
    min-height: 250px;
    max-height: 250px;
}

/* QLabel Général */
QLabel {
    color: white;
    margin: 2px;
}

/* Titre de GroupBox */
QLabel#groupTitle {
    font-size: 16px;
    font-weight: bold;
    color: #d3d3d3;
    padding-left: 5px;
}

/* Champs de Saisie et ComboBox */
QLineEdit, QComboBox, QPlainTextEdit {
    background-color: #3c3c3c;
    color: white;
    border: 1px solid #555;
    border-radius: 3px;
    margin-top: 2px !important;
    margin-right: 3px;
    padding: 2px;
    height: 25px !important;
    max-height: 25px;
}

/* Boutons */
QPushButton {
    height: 33px;
    max-height: 33px;
}

QPushButton#smallButton {
    max-width: 35px;
}

QPushButton:disabled {
    background-color: #555;
    color: #888;
}

/* Zone de Log */
QTextEdit#log_area {
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    max-height: 180px;
}
